In [2]:
###Looping Statements
##three looping statements in python
##(while , while -else,for ,for-else)
count=0
while(count<3):
    count=count+1
    print(count)

1
2
3

In [ ]:
###while loop with else
numbers=[1,2,3,4,5]
##iterating over the list
index=0
while index<len(numbers):
    print(numbers[index])
    index+=1
else:
    print('No item left in the list')

In [2]:
###python program to check given numbers
num=int(input('Enter a number : '))
isDivisible=False;
i=2
while i<num:
    if num%i==0:
        isDivisible=True
        print("{} is divisible by {}".format(num,i))
    i+=1
if isDivisible:
        print("{} is not a prime number".format(num))
else:print('{}is not a prime'.format(num))

Enter a number : 6
6 is divisible by 2
6 is divisible by 3
6 is not a prime number

In [3]:
###Iterating over a list
print('List Iteration')
l=['Hemanth','Varma','GVN']
for i in l:
    print(i)

List Iteration
Hemanth
Varma
GVN

In [5]:
###Python Continue Statement
numbers=[1,2,3,4,5]
for num in numbers:
    if num%2==0:
        continue
    print(num)
else:print('else-block')

1
3
5
else-block

In [8]:
###range function inside for loop
for i in range(0,4):
    if i==2:
        continue
    print(i)
print('Finished with i = ',str(i),'{} is a type'.format(i),' and i is data type',type(i))

0
1
3
Finished with i =  3 3 is a type  and i is data type <class 'int'>

In [9]:
###Data Strucutures in python

##List is a collection of elements
##List creation
emplist=[]
lst=['one','two','three','four']##list of strings
lst2=[1,2,3,4]##list of integers
lst3=[[1,2],[3,4]]##list of lists
lst4=[1,'hemanth',24,1.24]##list of different data types
print(lst4)

[1, 'hemanth', 24, 1.24]

In [10]:
l=[3,4,5,8,2,1,55,4,3,12]
x=55
print(x in l)

True

In [11]:
##keyword 'in' is used to test if an item is in a list
lst=['one','two','three','four']
if 'one' in lst:
    print('One is inside lst')
else:
    print('It is not inside lst')

One is inside lst

In [12]:
###list length , modification and append
i=3
l=[6,4,5,8,2,1]
l[i]=99
print(l)

[6, 4, 5, 99, 2, 1]

In [13]:
l.append(99)
print(l)

[6, 4, 5, 99, 2, 1, 99]

In [14]:
l.insert(2,45)
print(l)

[6, 4, 45, 5, 99, 2, 1, 99]

In [15]:
l.remove(45)
print(l)

[6, 4, 5, 99, 2, 1, 99]

In [18]:
###In list deletion part , using del ,pop and remove
lst=['one','two','three']
del lst[1]
print(lst)
rem=lst.pop()
print(lst)

['one', 'three']
['one']

In [22]:
##list reverse
lst=['one','two','three','four']
lst.reverse()
print(lst)
##list sorting
##created a list with numbers
numbers=[2,3,5,1,8]
sorted_list=sorted(numbers)
print("Sorted list :",sorted_list)
print("Sorting list :",numbers.sort())

['four', 'three', 'two', 'one']
Sorted list : [1, 2, 3, 5, 8]
Sorting list : None

In [23]:
##list having multiple references
lst=[1,2,3,4,5]
abc=lst
abc.append(6)
print(abc)

[1, 2, 3, 4, 5, 6]

In [24]:
##let's take a string 
s='one,two,three,four,five'
slst=s.split()
print(slst)

['one,two,three,four,five']

In [26]:
##list indexing using "+"
lst1=[1,2,3,4]
lst2=['hemanth','rohit','sidhu','kittu']
new_list=lst1+lst2
print(new_list)
print(new_list.count(1))

[1, 2, 3, 4, 'hemanth', 'rohit', 'sidhu', 'kittu']
1

In [27]:
###enumerate() adds a sequence numbers start from zero to each item in a list
fruits=['apple','orange','grape','banana','peach']
for idx,fruit in enumerate(fruits,start=1):
    print(idx,fruit)

1 apple
2 orange
3 grape
4 banana
5 peach

In [28]:
###converting a list
print(list('apple'))

['a', 'p', 'p', 'l', 'e']

In [29]:
##list comprehensions
#without list comprehensions
squares=[]
for i in range(10):
    squares.append(i)
print(i)

9

In [30]:
###Hashable is the process of translating values to each number,generally called a hashed code
##Accessing elements in tuple
#indexing
t=('Hemanth','varma','gvn','vizag','hyderabad')
print(t[1])

varma

In [31]:
##nested tuple
t=('ABC',('doooku','maharshi'),[1,2,3])
print(t[1])

('doooku', 'maharshi')

In [32]:
print(t[2][2])

3

In [33]:
###tuple iteration
l=[3,5,4,2,1]
print('List Iteration :')
for x in l:
    print(x)
t=(3,5,4,2,1)
print(t)

List Iteration :
3
5
4
2
1
(3, 5, 4, 2, 1)